@import "colors";

.@{alert-prefix-cls} {
  &-success {
    color: @green-9;
    background-color: #f6ffed;
    border: @border-width-base @border-style-base @green-3;
  }

  &-info {
    color: @blue-9;
    background-color: @blue-1;
    border: @border-width-base @border-style-base @blue-3;
  }

  &-error {
    color: @red-9;
    background-color: @red-1;
    border: @border-width-base @border-style-base @red-3;
  }

  &-warning {
    color: @gold-9;
    background-color: @gold-1;
    border: @border-width-base @border-style-base @gold-3;
  }
}

.ant-alert-description {
  width: 100%;
}
