@import "colors";
@import "common";

@btn-font-size-sm: @font-size-sm;
@btn-primary-color: @white;
@btn-danger-color: @white;
@btn-shadow: 0 2px 0 fade(@black, 1.5%);
@btn-primary-shadow: 0 2px 0 fade(@black, 4.5%);
@btn-text-shadow: 0 -1px 0 fade(@black, 12%);

.button-primary(@color; @background) {
  .button-color(@color; @background; @background);

  text-shadow: @btn-text-shadow;
  box-shadow: @btn-primary-shadow;

  &:hover,
  &:focus {
    .button-color(
      @color; @primary-6; transparent
    );
  }

  &:active,
  &.active {
    .button-color(
      @color; @primary-4; transparent
    );
  }

  .button-disabled(@disabled-color, @gray-1, @disabled-color);
}

.button-danger(@color; @background) {
  .button-color(@color; @background; @background);

  text-shadow: @btn-text-shadow;
  box-shadow: @btn-primary-shadow;

  &:hover,
  &:focus {
    .button-color(
      @color; @red-6; transparent
    );
  }

  &:active,
  &.active {
    .button-color(
      @color; @red-4; transparent
    );
  }

  .button-disabled(@disabled-color, @gray-1, @disabled-color);
}

.btn-primary() {
  .button-primary(@btn-primary-color; @btn-primary-bg);
}

.btn-danger() {
  font-weight: 500 !important;
  .button-danger(@btn-danger-color, @btn-danger-bg);
}

.ant-btn-background-ghost.ant-btn-danger {
  color: @red-9;
  background-color: transparent;
  border-color: @red-3;
  text-shadow: none;
}

.button-variant-other(@color; @background; @border) {
  .button-color(@color; @background; @border);

  &:hover,
  &:focus {
    .button-color(
      @primary-color; inherit; @primary-color
    );
  }

  &:active,
  &.active {
    .button-color(
      @primary-color; @primary-1; @primary-color
    );
  }
  .button-disabled(@disabled-color, @gray-1, @disabled-color);
}
