@import "colors";

@card-skeleton-bg: @gray-3;
@card-shadow: 0 2px 8px fade(@black, 9%);
@card-radius: 8px;
@card-border-width: 1px;

.@{card-prefix-cls} {
  box-shadow: 0 1px 6px 0 @gray-2, 0 1px 2px 0 rgba(186, 196, 205, 0.16);

  &-hoverable {
    &:hover {
      box-shadow: @card-shadow;
    }
  }

  &-bordered {
    border: @card-border-width @border-style-base @border-color-split;
  }

  &-head {
    border-bottom: @card-border-width @border-style-base @border-color-split;

    &-bar {
      border-bottom: @card-border-width @border-style-base @border-color-split;
    }
  }

  &-actions {
    border-top: @card-border-width @border-style-base @border-color-split;

    &:not(:last-child) {
      border-right: @card-border-width @border-style-base @border-color-split;
    }
  }
}
