@import "colors";

@descriptions-bg: @gray-2;
@disabled-color: #bac4cd;
@disabled-color-dark: fade(@white, 35%);
@border-color-base: @gray-2;
@border-radius-base: 8px;
@border-radius-sm: 6px;
@border-width-base: 2px;
@box-shadow-primary: 0 0 2px 4px @primary-2;
@border-color-split: @gray-2;

@shadow-color: fade(@black, 15%);
@wave-animation-width: 8px;

@keyframes waveEffect {
  100% {
    box-shadow: 0 0 2px 4px @primary-color;
    box-shadow: 0 0 0 @wave-animation-width @primary-6;
  }
}
