@font-face {
  font-family: 'Plumb';
  src: local('Plumb-Regular'),
  url('../../resources/font/Plumb-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: local('Plumb-Medium'),
  url('../../resources/font/Plumb-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: local('Plumb-Bold'),
  url('../../resources/font/Plumb-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: local('Plumb-Bold'),
  url('../../resources/font/Plumb-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: local('Plumb-Bold'),
  url('../../resources/font/Plumb-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: local('Plumb-Black'),
  url('../../resources/font/Plumb-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: local('Plumb-Black'),
  url('../../resources/font/Plumb-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-family: 'Plumb', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol' !important;
