@import "colors";
@import "common";

@input-number-handler-active-bg: @gray-2;
@input-placeholder-color: @disabled-color;
@input-disabled-bg: @gray-1;

.active(@color: @outline-color) {
  border-color: @primary-color;
  border-right-width: @border-width-base !important;
  outline: 0;
  box-shadow: @box-shadow-primary;
}

.disabled() {
  color: @disabled-color;
  background-color: @input-disabled-bg;
  border-color: @disabled-color;
  cursor: not-allowed;
  opacity: 1;

  &:hover {
    .hover(@input-border-color);
  }
}
