@import "colors";

@modal-body-padding: 30px;
@modal-mask-bg: fade(@black, 35%);

.ant-modal-content {
  border-radius: 16px;
}

.ant-modal-header {
  border-radius: 16px 16px 0 0;
  border-bottom: none;
}

.ant-modal-footer {
  border-radius: 0 0 16px 16px;
  border-top: none;
}

.ant-modal-mask {
  background-color: rgba(13, 21, 43, 0.35);

  @media screen and (max-width: 767px) {
    background-color: @gray-1;
  }
}
