@zindex-notification: 3000;
@zindex-tooltip: 2010;

.ant-notification-notice-with-icon {
  display: flex;
  flex-wrap: wrap;
}

.ant-notification-notice-message {
  width: 100%;
}

.ant-notification-notice-description {
  width: 100%;
}

.ant-notification-close-icon {
  font-size: 12px;
}
